# Required for usage.
numpy
matplotlib

# Required to build documentation.
sphinx
numpydoc

# Required for packaging.
wheel

# Required for code style checking.
flake8

# Required for extended testing.
#tox
#virtualenv

# Matplotlib dependency that it fails to automatically install.
tornado
