# Required for usage.
numpy
scipy

# Required to build documentation.
sphinx
numpydoc
sphinxcontrib-bibtex
sphinx_rtd_theme
matplotlib >= 1.4  # plot_directive

# Required for testing.
coverage

# Required for packaging.
wheel

# Required for code style checking.
flake8
