# Required for usage.
numpy
scipy

# Required to build documentation.
sphinx
numpydoc
sphinxcontrib-bibtex

# Required for testing.
coverage
matplotlib

# Required for packaging.
wheel

# Required for code style checking.
flake8
